<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to HRApplication</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>

<div class="jumbotron text-center">
    <h1>Welcome to HR Application</h1>
    <p>Select from one of the options to manage your Employee</p>
    <a class="btn btn-primary" href="/viewEmployee">View your Employees</a>
    <a class="btn btn-success" href="/addEmployee">Add A New Employee</a>
    <a class="btn btn-warning" href="/editDeleteEmployee">Edit Employee Details</a>
</div>

</body>
</html>